
.container{
    width: 100vh;
    height: 100vh;
    background:white;
   text-align: center;
    border-width: 5px;
    border-style: solid;
    padding:20px;

}
.img{
    width:30vh;
    height: 20vw;
    text-align: center;
    border-radius: 10px;
}
h1{
    color: red;
    font-size: 50px;
}
p{
    color: green;
    font-size: 25px;
}